/* ========== Cards ========== */
.card__container {
    display: block;
}

.card__row {
    display: flex;
}

.card {
    width: var(--card-width);
    height: 800px;

    margin: auto;
}

.card__top, .card__bottom {
    display: block;
    width: var(--card-width);
    height: 400px;
}


@media (max-width: 650px) {
    .card__row {
        display: block;
    }

    .card, .card__top, .card__bottom {
        width: min(400px, calc(1.2 * var(--card-width)));
    }
}

.card__top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    transition: .7s;
    transform: translateY(200px);

    background-color: lightblue;
}

.card__bottom {
    position: relative;
    text-align: center;

    transition: .8s;
    transform: translateY(-200px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    padding: var(--padding-size);
}

.card:hover .card__top {
    transform: translateY(0);
}

.card:hover .card__bottom {
    transform: translateY(0);
}

.card__link img {
    position: absolute;
    left: 34%;
    top: 70%;
    width: var(--link-img-width);

    border: 3px outset rgba(0, 255, 0, 0);
    border-radius: 50%;
}

.card__link img:hover {
    border: 7px outset rgba(0, 255, 0, 1);
    transition: border-color .3s linear;
}

/* =========================== */
