/* ~~~~~~~~~~ System Variables ~~~~~~~~~~ */
:root {
 	--base-scale:calc(100vw / 75);

	--h1-font-size:   max(2.0em, min(5.0em, calc(var(--base-scale) * 4.0)));
	--h2-font-size:   max(1.5em, min(3.0em, calc(var(--base-scale) * 1.7)));
	--h3-font-size:   max(1.0em, min(3.0em, calc(var(--base-scale) * 1.6)));

	--padding-size:   max(1.5em, min(2.0em, calc(var(--base-scale) * 2.0)));
	--margin-size:    max(0.8em, min(2.0em, calc(var(--base-scale) * 2.0)));
	--border-radius:  max(4.0em, min(6.0em, calc(var(--base-scale) * 5.0)));
	--border-spacing: max(12em,  min(0.0em, calc(var(--base-scale) * 7.0)));
	--link-img-width: max(4.0em, min(12em,  calc(var(--base-scale) * 10 )));

	--card-width: 	  max(300px, min(600px, calc(var(--base-scale) * 30)));
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~ Fonts size ~~~~~~~~~~ */
.h1 {
	font-size: var(--h1-font-size);
}

.h2 {
	font-size: var(--h2-font-size);
}

.h3 {
	font-size: var(--h3-font-size);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
	box-sizing: border-box;
}

body {
    background: white;
    line-height: 1.6;

    margin: auto;
}

section {
	width: 100%;
    max-width: 1600px;
    margin: auto;
}

h1 {
	text-align: center;
}


/* =========== Header ========== */
.header {
	width: 100%;
	height: 100%;
	max-height: 800px;
	margin-top: -40px;

	display: block;


	background: url("../images/header_back.jpg") center no-repeat;
	background-size: cover;
}

.header__content {
	margin: auto;
	max-width: 1600px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 6em;
}

.header__icon {
	width: 100px;
	border: 2px white solid;
}

.header__logo {
	margin-left: var(--margin-size);
	color: white;
}

.header__slogan {
	position: relative;
	color: white;
	margin: 100px 100px;
}

@media (max-width: 870px) {
	.header {
		max-height: 400px;
	}

	.header__icon {
		width: var(--h1-font-size);
	}

	.header__slogan {
		opacity: 0;
	}
}

@media (max-width:  500px) {
	.header__inner {
		display: block;
	}

	.header__icon {
		width: 80px;
		margin-left: 40px;
	}

	.header__logo {
		font-size: 0;
	}
}

/* ---------- Navigate ---------- */
.nav {
	text-transform: uppercase;
}

.nav li {
	float: left;
	list-style-type: none;
}

@media (max-width: 1350px) {
	.nav li {
		float: none;
	}
}

.nav__link {
	vertical-align: top;
	margin: 0 10px;
	position: relative;

	border: 3px outset rgba(255, 255, 255, 0);
	border-radius: 10px;
	transition: border-color .3s linear;
	padding: 5px 10px;

	color: white;
	text-decoration: none;
}

.nav__link.active {
	border: 3px outset rgba(255, 215, 0, 1);
}

.nav__link:hover {
	border: 3px outset rgba(255, 255, 255, 1);
	transition: border-color .3s linear;
}
/* ------------------------------ */
/* ============================= */


/* ========== Footer ========== */
.footer {
	width: 100%;
	height: 100%;
	max-width: 1920px;
	max-height: 800px;

	display: flex;
	background-color: black;


	color: white;
}

.footer__icon {
	width: 70px;
	border: 2px white solid;
}

.footer__logo {
	margin: 30px;
	color: rgb(189, 172, 142);
}

.footer__desc {
	margin-left: 30px;
	color: gray;
}

.footer__slogan {
	margin: var(--margin-size);
	max-width: 1200px;
	text-transform: uppercase;
}
/* ============================ */
